.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(50, 50, 50);
}

.navbar-text {
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
text-align: center;
background-color: rgb(50, 50, 50);
padding-left: 15px;
}

#weather-dashboard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background: rgb(50, 50, 50);
    color: white;
}

.card {
    border: none;
    /* float: right; */
}


.card-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(72, 160,181);
    font-size: 16pt;
    color: white;
    display: inline-block;
    /* float: right; */
    border: solid rgb(74, 224, 226) 2px;
    margin: 20px;
    padding: 40px;
    flex-direction: row;
   
    
}
/* .clearfix {
    overflow: auto;
  } */
/* 
 #card-row {
    height: 200px;

 } */

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
  }

 .headline {
     font-size: 34px;
     border: none;
     display: inline-block;
     float: left;
 } 

 .lead {
     padding-left: 25px;
 }

 .city-weather {
    font-size: 36pt;
    padding-left: 40px;
    line-height: 32px;
    padding-bottom: 60px;
 }

 #search {
     width: 290px;
    float: left;

 }

 #search-header {
     margin-right: 25px;
 }

 .list-group {
     /* float: left; */
    /* list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; */
 }

 #li {
     padding: 20px;
 }

#five-day {
    /* width: 18rem; */
    display: inline-block;
    /* float: auto; */
    height: 100px;
    /* flex-direction: row; */
}

.card {
    position: relative;
    display: inline-block;
    float: right;
    /* box-sizing: content-box; */
}

.cardbody {
    border: none;
    display: inline-block;
    flex-direction: row;
}

.badge-success {
    background-color: darkgreen;
}

.badge-mild {
    background-color: yellow;

}

.badge-warning {
    background-color:orange;
  
}

.badge-veryhigh {
    background-color: red;
 
}
.badge-danger {
    background-color: darkmagenta;
 
}

