#navbar {
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
}

.cardbody {
    font-family: sans-serif;
    background-color: rgb(72, 160,181);
    font-size: 16pt;
    color: white;
    width: 200px;
    border: 1px;
    float: left;
}

.card-body {
    border: solid black 4px;
}

/* #taco {
    background-color: blue;
    border: solid black 4px;
} */



/* .list-group-item {



} */

/* .li {
    font-size: 14pt;

} */

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  /* h1 {
    font-size: 36pt;

  } */

  #daycard {
      float: left;
      margin: 6px;

  }

  p {

  }