.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color: rgb(50, 50, 50);
}

.navbar-text {
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
text-align: center;
background-color: rgb(50, 50, 50);
padding-left: 15px;
}

#weather-dashboard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background: rgb(50, 50, 50);
    color: white;
}


.card-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(72, 160,181);
    font-size: 16pt;
    color: white;
    float: left;
    border: solid rgb(74, 224, 226) 2px;
    width: 18rem;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
  }

 .headline {
     font-size: 34px;
     border: none;
 } 

 .lead {
     padding-left: 25px;
 }

 .city-weather {
    font-size: 36pt;
    padding-left: 40px;
    line-height: 32px;
    padding-bottom: 60px;
 }

 #search {
     width: 290px;
    float: left;

 }

 #search-header {
     margin-right: 25px;
 }

 .list-group-item {
     /* float: left; */
     
 }

 #li {
     padding: 20px;
 }

#taco {
    width: 18rem;
}

.cardbody {
    border: none;
}

.badge-success {
    width: 5px;
    background-color: darkgreen;

}

#badge-warning {
    background-color: yellow;
    font-size: 18px;
}