body {
    background-color: #f5f5f5;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color:  #056A89;
    display: block;
}

.navbar-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    background-color:  #056A89;
    padding-left: 15px;
}

#weather-dashboard {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    background: #056A89;
    color:  #b8dbd9;
    line-height: 50px;
    font-kerning: auto;
}

.card {
    border: none;
}

.jumbotron {
    background-color: #b8dbd9;
}

.navbar-light {
    background-color: #e6ebe0;
}

.city-btn {
    background-color: #5e6572;
}

.card-body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #087E8B;
    font-size: 16pt;
    color: white;
    display: inline-block;
    border: solid #1b998b 2px;
    margin: 20px;
    padding: 40px;
    flex-direction: row;
    width: auto;
}

.city-weather {
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
}

.headline {
    font-size: 34px;
    border: none;
    display: inline-block;
    float: left;
}

.lead {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.city-weather {
    font-size: 36pt;
    padding-left: 40px;
    line-height: 32px;
    padding-bottom: 60px;
}

#search {
    width: 290px;
    float: left;
}

#search-header {
    margin-right: 25px;
}

#li {
    padding: 20px;
}

h1 {
    padding-left: 20px;
}

.uv-index {
    margin-bottom: 25px;
}

#five-day {
    display: inline-block;
    height: 100px;
}

.card {
    position: relative;
    display: inline-block;
    float: right;
}

.cardbody {
    border: none;
    display: inline-block;
    flex-direction: row;
}

.badge-success {
    background-color: darkgreen;
}

.badge-mild {
    background-color: yellow;
}

.badge-warning {
    background-color: orange;
}

.badge-veryhigh {
    background-color: red;
}

.badge-danger {
    background-color: darkmagenta;
}